.container
{
	width: 1170px;
}

.box
{
	margin-right: 20px;
}

h2 a, h3 a
{
	color: #333333;
}

h2 a:hover, h3 a:hover
{
	text-decoration: none;
}

h2 a:after, h3 a:after
{
	content: " ›";
	font-weight: normal;
}

h3
{
	margin-top: 0;
}

.buttonbar
{
	margin-top: 15px;
}

#titolo
{
	width: 387px;
	margin: 10px auto;
}

#home-banner
{
	padding: 50px 100px;
	background-image: url("../img/duccit-2013.png");
	background-repeat: no-repeat;
	background-position: center center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#home-banner.informazioni
{
	background-image: url("../img/palazzo-priori.png");
	
}

#home-banner.streaming
{
	background-image: url("../img/sala-ritratti.png");
	background-position: bottom center;
}

#home-banner p, #home-banner h1
{
	color: #ffffff;
}

tr.break
{
	background-color: #dddddd;
}
